msvc/new/*
msvc/Debug/
msvc/Release/
msvc/ipch/
msvc/ipch/*~
msvc/ipch/*
msvc/ipch/*/*
msvc/ipch/**/
examples/new/*
examples/Debug/
examples/Release/
examples/ipch/
examples/ipch/*~
examples/ipch/*
examples/ipch/*/*
examples/ipch/**/
*.sdf
*.opensdf
lib/
lib/*.lib
*.suo
*.bak
*.user

*.opensdf
*~

# Qt-es
/test/qt-build-debug/

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

